.buttons {
  padding-top: 94px;
}

.buttons-list {
  display: flex;
  justify-content: center;

  gap: 30px;

}






@keyframes water-button {
  0% {
    transform: scale(1);
    background-color: #FFF;
    color: black;
  }

  50% {
    transform: scale(1.01);
    background-color: #2196f3;
    color: #FFF;
  }

  100% {
    transform: scale(1.02);
    background-color: #FFF;
    color: black;
  }

}



.buttons-btn {
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #f5f4fa;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  transition-property: border-radius, color, background-color, box-shadow;
  transition-duration: 250ms;

}

.buttons-item:nth-child(1) button {
  animation-name: water-button;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 750ms;

}

.buttons-item:nth-child(2) button {
  animation-name: water-button;
  animation-duration: 2s;
  animation-iteration-count: 1;
animation-delay: 750ms;
}

.buttons-item:nth-child(3) button {
  animation-name: water-button;
  animation-duration: 3s;
  animation-iteration-count: 1;
animation-delay: 750ms;
}

.buttons-item:nth-child(4) button {
  animation-name: water-button;
  animation-duration: 4s;
  animation-iteration-count: 1;
animation-delay: 750ms;
}

.buttons-item:nth-child(5) button {
  animation-name: water-button;
  animation-duration: 5s;
  animation-iteration-count: 1;
animation-delay: 750ms;
}






.buttons-btn:hover {
  border-radius: 4px;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.posters {
  padding-top: 50px;
  margin-bottom: 94px;
}

.posters-item:hover {
  border: 1px solid #EEE;

  background: #FFF;

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.posters-item {
  border: 1px solid #eee;
  flex-basis: calc((100% - (30px * 2)) / 3);
  background: white;
  z-index: 2;
}


.box-poster {
  position: relative;
  overflow: hidden;
}


.posters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.posters-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-left: 24px;
}

.posters-text {
  color: #757575;
  padding-left: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 20px;
}



.mailing {
  margin-left: 93px;
  display: flex;
  align-items: end;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  margin-top: 20px;
  padding-left: 16px;
  color: #FFFF;
}

.mailing-input::placeholder {}


.mailing-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;

}

.mailing-button {
  padding-left: 28px;
  padding-right: 28px;
  gap: 10px;
  display: flex;

  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;

  justify-content: center;
  align-items: center;


}

.mailing-icon {
  fill: #FFFF;
  width: 24px;
  height: 24px;
}


.text-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.7);
  color: white;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
  transition-property: opacity transform;
  transition-duration: 250ms;
  transform: translateY(90%);
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.posters-item:hover .text-up {
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
}