.hero {
  background: #ffffff;
  padding-bottom: 200px;
  padding-top: 200px;
  display: flex;
  background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(./photo/hero-photo.webp);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-title {
  color: #fff;
  text-align: center;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex;
}

.hero-button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;

  width: 216px;
  height: 50px;
  flex-shrink: 0;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.info {
  padding-bottom: 94px;
  padding-top: 94px;
}



/* .info-item:nth-child(2):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("./photo/clock.webp");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 25px;
  background-color: #f5f4fa;
}

.info-item:nth-child(3):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("./photo/diagram.webp");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 25px;
  background-color: #f5f4fa;
}

.info-item:nth-child(4):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-image: url("./photo/astronaut.webp");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 25px;
  background-color: #f5f4fa;
} */

.icon-info {
  width: 70px;
  height: 70px;


  background-color: #F5F4FA;
}

.info-item {
  width: 270px;
  flex-shrink: 0;

}

.icon-div {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-list {
  display: flex;
  gap: 30px;
}

.info-subtitile {
  margin-bottom: 10px;
  margin-top: 30px;
  color: #212121;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.info-text {
  color: var(--text-color);

  line-height: 24px;

  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}


.service-text {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  padding: 27px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}


.service-item {
  position: relative;
}

.service {
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  gap: 30px;
}

.service-subtitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people {
  padding-top: 94px;
  background: #f5f4fa;
  padding-bottom: 94px;
}

.people-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people-subtitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.people-list {
  display: flex;
  gap: 30px;
}

.people-socials {
  display: flex;
  gap: 10px;
  justify-content: center;

}

.people-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  transition-property: background-color ;
  transition-duration: 250ms;
}

.people-social:hover {
  background-color: #2196F3;
}

.people-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.people-social:hover>.people-icon {
  fill: #F5F4FA;
}




.people-item {
  background: #fff;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.people-text {
  color: var(--text-color);
  text-align: center;

  font-size: 16px;
  letter-spacing: 0.48px;
}


.regural-icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  margin: 16px 32px;
}

.regular-list {
  display: flex;
  gap: 30px;
  margin-bottom: 93px;
}

.regular-h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 87px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.regular-list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition-property: fill;
  transition-duration: 250ms;
}



.regular-list-item:hover {
  border-color: #2196F3;
  
}

.regular-list-item:hover>.regural-icon {
  fill: #2196F3;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.model {
  border-radius: 4px;
  width: 528px;
  padding-bottom: 40px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* .model {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: skyblue;
  transform: translate(-50%, -50%);
} */

.backdrop-button {
  position: absolute;
  top: 8px;
  right: 6px;
  background-color: transparent;
  padding-right: 10px;
  padding-top: 6px;
  border-radius: 100%;
  border: rgba(0, 0, 0, 0.1) solid;
  padding: 6px 6px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.backdrop-button:hover {
  fill: #2196F3;
}


.model-exit-icon {
  width: 11px;
  height: 11px;


}

.model-exit-icon:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.backdrop-form {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 12px;
  padding-right: 40px;
  gap: 10px;
  justify-content: left;
  align-items: left;

}


.backdrop-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 40px;
}

.backdrop-text {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;

}




.backdrop-form-massage {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;

  padding: 12px 16px;

}

.backdrop-form-massage::placeholder {

  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

}


.backdrop-h1text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

  padding-top: 40px;
}


.checkbox-backdrop {
  display: flex;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  gap: 8.38px;
  margin-top: 20px;
}

.terms {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196f3;
}

.icon-backdrop {
  position: absolute;
  top: 29px;
  left: 15px;

  width: 12px;
  height: 12px;
}

.backdrop-input:hover+.icon-backdrop {
  fill: #2196F3;

}

.backdrop-input:hover {
  border-color: #2196F3;
}


.backdrop-send {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  align-self: center;

  margin-top: 30px;
}

.backdrop-form-massage:hover {
  border-color: #2196F3;
}

.backdrop-send:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #188ce8;
}


.no-scroll {
  overflow: hidden;
}


.text-backdrop {
  margin-bottom: 4px;
  display: block;
}



.mailing {
  margin-left: 93px;
  display: flex;
  align-items: end;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  margin-top: 20px;
  padding-left: 16px;
  color: #FFFF;
}

.mailing-input::placeholder {
 
}


.mailing-text {
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #fff;

}

.mailing-button {
  padding-left:28px ;
  padding-right: 28px ;
  gap: 10px;
  display: flex;
 
  border-radius: 4px;
width: 200px;
height: 50px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #2196f3;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.06em;
text-align: center;
color: #fff;

justify-content: center;
align-items: center;


}

.mailing-icon {
  fill: #FFFF;
  width: 24px;
  height: 24px;
}



