@use "../base/vars" as *;

.hero {
  background: #ffffff;
  padding-bottom: 118px;
  padding-top: 118px;
  display: flex;
  background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/mobile/title-mobile@1x.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/mobile/title-mobile@2x.webp);
}

  @media screen and (min-width: 768px) {

background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/tablet/title-tablet@1x.webp);
    

 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/tablet/title-tablet@2x.webp);
}


  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;

    background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/desktop/title-desktop@1x.webp);

     @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: radial-gradient(ellipse at left, rgb(47, 48, 58, 0.4)),
    url(../photo/desktop/title-desktop@2x.webp);
}
  }

  &__div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__title {

    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 1.56px;
    text-transform: uppercase;


    @media screen and (min-width: 480px) {
      width: 360px;
    }



    @media screen and (min-width: 1200px) {

      width: 696px;
      font-size: 44px;
      line-height: 60px;
      letter-spacing: 2.64px;
      display: flex;
    }
  }

  &__button {
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;

    width: 200px;
    height: 50px;
    flex-shrink: 0;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    animation-name: anim-button;
    animation-timing-function: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2s;



    @media screen and (min-width: 1200px) {
      width: 216px;
      height: 50px;
    }
  }

  &__subtitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

}



@keyframes anim-button {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}