:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  /* background-color: transparent; */
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.container {
  outline: solid red;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}



body {
  font-family: Roboto;
  font-style: normal;
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.header {
  background: #FFF;
padding-top: 24px;
padding-bottom: 25px;

}

.header-div {
  display: flex;
}

.header-logo-blue {
  color:var(--accent-color);

font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.header-logo {
  color: var(--title-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  gap: 50px;
  padding-left: 93px;
  padding-right: 344px;
  align-items: center;
}

.header-contacts {
  display: flex;
  gap: 50px;
  align-items: center;
}


.header-link {
  
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-number:hover {
  color: var(--accent-color);
  
}

.header-number {
  color: var(--text-color);
  
  font-weight: 500;
  letter-spacing: 0.28px;
}

.hero {
  background-color: var(--title-color);
  padding-bottom: 200px;
  padding-top: 200px;
  display: flex;
}

.hero-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero-title {
  color: #fff;
  text-align: center;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  display: flex;
  
  
  
}

.hero-button {
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;

width: 216px;
height: 50px;
flex-shrink: 0;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.info {
  padding-bottom: 94px;
  padding-top: 94px;
}

.info-list {
  display: flex;
  
}

.info-subtitile {
  padding-bottom: 10px;
}

.info-text {
  color: var(--text-color);
  
  line-height: 24px;
}

.service {
  padding-top: 118px;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
 gap: 30px
}

.service-subtitle {
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people-title {
  text-align: center;
  
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people-subtitle {
  text-align: center;
  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.people-list {

}
 


.people-text {
  color: var(--text-color);
  text-align: center;
  
  font-size: 16px;
  letter-spacing: 0.48px;
}

.footer-address {
  color: #fff;

  font-style: normal;
  line-height: 24px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 24px;
}

.footer-number {
  color: rgba(255, 255, 255, 0.6);

  
  line-height: 24px; /* 171.429% */
}

.footer-logo-blue {
  color: var(--accent-color);

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer {
  background-color: var(--title-color);
}

