:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}

body {
  font-family: Roboto;
  font-style: normal;
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}

.header-logo-blue {
  color:var(--accent-color);

font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.header-logo {
  color: var(--title-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
}

.header-link:hover {
  color: var(--accent-color);
}


.header-link {
  
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.header-number:hover {
  color: var(--accent-color);
  
}

.header-number {
  color: var(--text-color);
  
  font-weight: 500;
  letter-spacing: 0.28px;
}

.hero {
  background-color: var(--title-color);
}

.hero-title {
  color: #fff;
  text-align: center;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;

border-radius: 4px;
background: #2196F3;

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.hero-subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.info-text {
  color: var(--text-color);
  
  line-height: 24px;
}

.service-subtitle {
  text-align: center;
  
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people-title {
  text-align: center;
  
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.people-subtitle {
  text-align: center;
  
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.people-text {
  color: var(--text-color);
  text-align: center;
  
  font-size: 16px;
  letter-spacing: 0.48px;
}

.footer-address {
  color: #fff;

  font-style: normal;
  line-height: 24px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 24px;
}

.footer-number {
  color: rgba(255, 255, 255, 0.6);

  
  line-height: 24px; /* 171.429% */
}

.footer-logo-blue {
  color: var(--accent-color);

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer {
  background-color: var(--title-color);
}

