:root {
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}


a[href^="https"] {
  color: red;
}

ul + p {
  font-size: 24px;
}


h3 {
  color: pink;
}


#greycol {
  color: grey;
}


.yellow {
  color: yellow;
}


div > p {
  color: red;
}


p {
  color: green;
}