body {
  font-family: Roboto;
  font-style: normal;
  color: var(--title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
}


.no-scroll {
  overflow: hidden;
}